html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
*:focus { outline: 0; }
body {
  line-height: 1em;
  color: black;
  background: #ffffff;
}
ol, ul { list-style: none; }
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
q, blockquote { quotes: "" ""; }
q:before { content: ""; }
q:after { content: ""; }
blockquote:before { content: ""; }
blockquote:after { content: ""; }
img a { border: none; }
hr {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
}
hr.space {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
  background: #ffffff;
  color: #ffffff;
}
body {
  line-height: 1.5;
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 90%;
}
h1 {
  font-weight: normal;
  color: #222222;
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}
h1 img { margin: 0; }
h2 {
  font-weight: normal;
  color: #222222;
  font-size: 2em;
  margin-bottom: 0.75em;
}
h3 {
  font-weight: normal;
  color: #222222;
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}
h4 {
  font-weight: normal;
  color: #222222;
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
h5 {
  font-weight: normal;
  color: #222222;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
h6 {
  font-weight: normal;
  color: #222222;
  font-size: 1em;
  font-weight: bold;
}
h2 img { margin: 0; }
h3 img { margin: 0; }
h4 img { margin: 0; }
h5 img { margin: 0; }
h6 img { margin: 0; }
p { margin: 0 0 1.5em; }
p img.left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
p img.right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}
a {
  text-decoration: underline;
  color: #2e6ab1;
}
blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}
strong { font-weight: bold; }
em { font-style: italic; }
dfn {
  font-style: italic;
  font-weight: bold;
}
sup, sub { line-height: 0; }
abbr, acronym { border-bottom: 1px dotted #666666; }
address {
  margin: 0 0 1.5em;
  font-style: italic;
}
del { color: #666666; }
pre {
  margin: 1.5em 0;
  white-space: pre;
}
pre, code, tt {
  font: 1em 'andale mono', 'lucida console', monospace;
  line-height: 1.5;
}
li ul { margin: 0 1.5em; }
li ol { margin: 0 1.5em; }
ul {
  margin: 0 1.5em 1.5em 1.5em;
  list-style-type: disc;
}
ol {
  margin: 0 1.5em 1.5em 1.5em;
  list-style-type: decimal;
}
dl { margin: 0 0 1.5em 0; }
dl dt { font-weight: bold; }
dd { margin-left: 1.5em; }
table {
  margin-bottom: 1.4em;
  width: 100%;
}
th { font-weight: bold; }
thead th { background: #c3d9ff; }
th, td, caption { padding: 4px 10px 4px 5px; }
tr.even td { background: #e5ecf9; }
tfoot { font-style: italic; }
caption { background: #eeeeee; }

body {
  padding: 0 1em;
}

/* Header */

div#header {
  margin-bottom: 1em;
}

div#header ul#nav-bar {
  line-height: 50px;
  float: right;
  clear: both;
  font-size: 1.2em;
  list-style: none;
  margin: 0;
}

div#header ul#nav-bar li {
  padding: 0 0 0 1em;
  display: table-cell;
  vertical-align: middle;
  height: 82px;
}


/* Sidebar */

div#sidebar {
  float: left;
  height: 100%;
  max-width: 80%;
}

/* Content */

div#content {
  float: left;
  width:900px;
}

body.two-col div#content {
  float: left;
  max-width: 75%;
}

div#footer {
  clear: both;
}

ul#products {
  list-style: none;
  margin: 0 auto;
}

ul#products li {
  float: left;
  text-align: center;
  width: 200px;
  height: 150px;
  padding: 0 10px 20px 10px;
}

ul#products li img {
  display: block;
  margin: auto;
}

button, a.button, input.button {
  display: inline-block;
  width: auto;
  height: auto;
  cursor: pointer;
  margin: 0px;
  padding: 3px;
  text-decoration: none;
  font-size: 1em;
  color: inherit;
}

button img, a.button img, input.button img {
  vertical-align: middle;
  margin-right: 5px;
}

div#subtotal { float: right; }

div#product-variants ul li label { cursor: pointer; }
div#product-images { width: 50%; }
div#product-images, div#main-image, div#cart-form { float: left; }
div#product-description { float: none; clear: both; }

#breadcrumbs {
  
  background:#fff;
}

ul.thumbnails, #breadcrumbs ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul.thumbnails li {
  width: 48px;
  height: 48px;
  margin-right: 4px;
  margin-bottom: 4px;
  min-height: 48px;
  padding: 0;
  float: none;
  display: inline-block;
  position: relative;
  border: 1px solid silver;
}
#breadcrumbs ul li { display: inline-block; }

dl.table-display dt { float: left; min-width: 200px; padding: 3px 5px; }
dl.table-display dd { padding: 3px; }
dl#product-price dt { float: left; padding: 0 10px 0 0; font-size: 14pt; }
dl#product-price dd { font-size: 14pt; }

.even { background: #EEE;}
.odd { background: #DDD;}
.hidden { display: none; }

div.inner input[type=text], div.inner select { width: 90%; }
span.req { color: red; padding-left: 0.25em; }
/*
 * This is a manifest file that includes stylesheets for spree_core
*/

/*
*/

/*
*/

/*
*/

/*
*/

/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *


*/

/*
	Coin Slider jQuery plugin CSS styles
	http://workshop.rs/projects/coin-slider
*/


.slider { border:1px solid #cccccc; background:#f8f8f8; padding:10px 10px 0;}
#coin-slider  {}
.coin-slider { overflow:hidden; zoom:1; position:relative;}
.coin-slider a { text-decoration:none; outline:none; border:none; }

.cs-buttons { position:absolute; top:0; font-size:0px; margin:0; padding:10px; float:left; margin:0;}
.cs-buttons a { margin-left:2px; width:22px; height:22px; float:left; background: url(/assets/store/tabs_1.gif) no-repeat left top; color:#fff; text-indent:-1000px;}
.cs-buttons a.cs-active { background: url(/assets/store/tabs_2.gif) no-repeat left top; color:#fff;}

.cs-title { float:left; width:930px; padding:15px 20px; background:url(/assets/store/overlay.png) repeat left top; color:#fff; font-size:36px; line-height:1em;}
.cs-title small { display:block;  width:auto;  padding:0; font-size:12px; line-height:1.8em;}

.cs-prev, 
.cs-next { background:url(/assets/store/overlay.png) repeat left top; color:#f3f3f3; padding:5px 15px; font-size:16px;}
@charset "utf-8";
/* CSS Document */

ul.menusm { font-size:14px; line-height:17px;}

/* DESIGN TOPNAV (mainmenu) */
.topnavi { float:left; width:500px; margin:0; padding:0 10px; font:normal 14px Arial, Helvetica, sans-serif; line-height:16px; position:relative; z-index:1001;}

/* DESIGN NAV1 (categories) */
#nav1 { padding:0; margin:0 auto; background:url(/assets/store/nav1_bg.gif) top repeat-x;}
/* level 0 */
#nav1 ul { margin:0 auto; width:970px; padding:0;}
#nav1 ul li { float:left; padding:0 0; margin:0;  }
#nav1 ul li a {  display:block; margin-top:0px; padding:7px 20px 0 0; color:#b3b1b1; text-decoration:none;}
#nav1 ul li a:hover { color:#fff;}
#nav1 ul li.current-cat { color:#fff; text-decoration:underline; }              /* active item first level */
#nav1 ul li.current-cat a,
#nav1 ul li ul li a.a_hover_main { background:#42484e; color:#e00437; text-decoration:none;  } /* on hover */


/* DO NOT EDIT!!! */
ul.menusm { list-style:none;}
ul.menusm li { cursor:pointer; position:relative; z-index:/*IE7*/999;}
ul.menusm li a { position:relative; z-index:1000;}
ul.menusm li ul { display:none; position:absolute; list-style:none; z-index:999;}
ul.menusm li ul li ul { position:absolute; list-style:none;}
/*
Theme Name:Theme 129
Theme URI: http://www.templateaccess.com/
Description: The Marketplace for Premium Templates & Themes.
Version: 1.0
Author: TemplateAccess.com
*/ 
/*=== Setup ===*/


* { border:0; margin:0 auto; padding:0; outline:none; }
body { background: url(/assets/store/main_bg.gif) top center; font:13px Arial, Verdana, Helvetica, sans-serif; color:#494949; padding:0; margin:0; }
a { color:#494949; text-decoration:none; }
a:hover { text-decoration:none; }
p.clr, .clr { clear:both; padding:0; margin:0; background:none; }
p.bg, .bg { clear:both; padding:0; margin:10px 0; border-bottom:1px solid #bababa; height:2px; }
input, select, textarea { border:#cfcfcf 1px solid; color:#404040; font-size:12px; padding:3px; font-family:Arial, Verdana, Helvetica, sans-serif; }
li { list-style:none; }
h1, h2 { color:#bcbcbc; font-size:1.5em; font-weight:normal; letter-spacing:-1px; margin:0 0 1em; }
h3 { color:#858585; font-size:1.2em; margin:0 0 .8em; }
h4 { font-size:1em; margin:0 0 1em; }
p { line-height:1.5em; padding:0 0 1.3em; }
/*=== Layout ===*/
#page { margin:0 auto; padding:0;}
#page img.maain { margin:0; padding:0; }
/*- Nav1 -*/
.nav_resize { background:#0f0f0f; 
border-bottom:1px solid #393939; 
padding:5px 0;
height:35px;

}
#nav1 { width:970px; margin:0 auto; font:bold 16px Arial, Helvetica, sans-serif; padding:0; }
#nav1 ul { padding:0; }
#nav1 ul.sf-menu li { position:relative; float:left; line-height:37px; padding:20px 1px 3px 0; text-align:left; }
#nav1 ul.sf-menu li a { color:#b3b1b1; padding:10 0; margin:0 5px; line-height:17px; }
#nav1 ul.sf-menu li a span { display:block; background:none; padding:10px 15px; margin:0; line-height:17px; }
#nav1 ul.sf-menu li a:hover { color:#fff; }
#nav1 ul.sf-menu li a:hover span { color:#fff; }
#nav1 ul.sf-menu li a.active { color:#fff; background:url(/assets/store/r_menu_one.gif) no-repeat right; }
#nav1 ul.sf-menu li a.active span { color:#fff; background: url(/assets/store/l_menu_one.gif) no-repeat left; }
#nav1 ul.sf-menu li ul.children { background:#0f0f0f; border:none; width:140px; padding:0; }
#nav1 ul.sf-menu li ul.children a { color:#7e7e7e; width:140px; margin:0; padding:0; text-indent:10px; }
#nav1 ul.sf-menu li ul.children a:hover { color:#fff; background:#363636; text-decoration:none; }
#nav1 ul.sf-menu li ul.children a:hover span { background:none; }
#nav1 ul.sf-menu li ul.children li { border:0; }
#nav1 ul.sf-menu li ul.children li ul.children { border-left:none; border-right:none; }
#nav1 ul.sf-menu li ul.children { margin:0; }
#nav1 ul.sf-menu li ul.children ul.children { margin:0 0 0 0; }
/*=== Header ===*/
#header { margin:0 auto; padding:0; width:970px; }
.header_white { background:#fff; padding:0 17px; margin:0 0 40px 0;}
.header_h2 { padding:20px 0 40px 0; background:url(/assets/store/simple_bg.png) no-repeat bottom;}
.header_h2 .flash_slider { width:936px; height:341px; margin:0; overflow:hidden;}
/*- Logo -*/
.logo { width:250px;  
margin:0; 
padding:0; 
float:left; 
text-indent:-9999px; 
margin:15px 0 0 0; 
padding-tp:15px;
}
.logo h1 { background: url(/assets/store/logo.png) top no-repeat; float:left; text-indent:-9999px; width:250px; margin:15px 0 0 0; padding:0; }
.logo h1 a { display:block; height:100px; }
.logo h1 a:hover { text-decoration:none; }
/*=== Navigation ===*/
/* RSS */
.rss { width:180px; float:right; padding:25px 50px 25px 0; margin:20px 0 0 20px; background:  url(/assets/store/RSS.png) right center no-repeat; }
.rss ul { list-style:none; margin:0; padding:5px 0 0 0; }
.rss li { display:inline; border-left:1px solid #808080; padding:0 5px; margin:0; }
.rss li.first { border:0; padding:0 5px 0 0; }
.rss li a { font:normal 11px Georgia, "Times New Roman", Times, serif; color:#808080; text-decoration:none; }
.rss li a:hover { text-decoration:underline; }
.rss a.big { text-decoration:none; font:normal 14px Arial, Helvetica, sans-serif; color:#fff; padding:0; margin:0; display:block; }
.rss a.big span { color:#ed2b50; font-weight:bold; }
/* Search form */
.search {  float:right; margin:0 5px 0 0; padding:10px 0 0 0;}
#search span { width:232px; display:block; background: url(/assets/store/search_bg.gif) top no-repeat; height:34px; margin:0 auto; padding:0; border:none; }
#search input#s { float:left; width:174px; padding:8px 0 0 20px; margin:0; border:0; background:none; color:#a9a9a9; font:normal 12px/14px Arial, Helvetica, sans-serif; }
#search .btn { float:left; padding:0; margin:0; border:0; width:auto; }
/*- Top Nav -*/
.topnavi { margin:0 auto; padding:3px 0; background:#ffe742; width:100%; }
.topnavi ul { list-style:none; padding:0; margin:0; }
.topnavi li { float:left; padding:0 5px; }
.topnavi li a { font:bold 14px Arial, Helvetica, sans-serif; color:black; display:block; float:left; padding:15px 0;}
.topnavi li a span { background:none; padding:12px 15px; }
.topnavi li a:hover { color:#fff; background:url(/assets/store/r_menu.gif) no-repeat right; }
.topnavi li a:hover span {color:#fff; background:url(/assets/store/l_menu.gif) no-repeat left; }
.topnavi li.current_page_item a {color:#fff; background:url(/assets/store/r_menu.gif) no-repeat right; }
.topnavi li.current_page_item a span {color:#fff; background:url(/assets/store/l_menu.gif) no-repeat left; }
/*=== All Columns ===*/
#columns { margin:0 auto; padding:0; width:970px;}
/*=== Center Column ===*/
#centercol { float:right; width:750px; padding:0; }
#centercol .box { background:#fff; margin: 5px; padding:20px 15px; width:276px; float:left; height:275px;}
#centercol .box.fr { width:286px; float:right; height:325px;}
#centercol .box.fl { width:286px; float:left; height:325px}
#centercol .box.full { width:625px; float:right; height:325px;}
/*=== Right Column ===*/
#rightcol { float:left; 
width:200px; 
padding:0; 
background:#fff; 
margin-right:10px;
-moz-box-sizing: border-box;
border: 0 none;
 }
#rightcol .box { background:#fff; padding:20px 15px;}
.small_link { padding:5px 0; text-align:center; margin:0 auto; }
.small_link a { color:#959595; text-decoration:none; }
/*=== Sub Columns ===*/
.subcols { background:url(/assets/store/subcols-bgr.gif) repeat-y left; height:1%; }
.col1, .col2 { float:left; width:285px; }
.col2 { float:right; }
/*=== Post ===*/
.post-block { }
.post-margin { margin-left:236px; }
/*- Post Title -*/
.post-title { padding:5px 0; margin:0; }
.post-title h2 { margin:0; padding:0; font:normal 24px Arial, Helvetica, sans-serif; color:#2c2c2c;}
.post-title h2 a { display:inline; padding:0; margin:0; color:#2c2c2c; text-decoration:none; }
/*- Post Excerpt -*/
.post-excerpt { padding:0; display:table; font: normal 13px Arial, Helvetica, sans-serif; color:#757575; margin:0; line-height:1.8em;}
/*- Post Lists -*/
.post ul, .post ol { margin:0 0 1.5em; }
.post ul li { background:url(/assets/store/ico-list.gif) no-repeat 0 6px; margin:0 0 .4em; padding:0 0 0 10px; }
.post ol li { list-style:decimal; list-style-position:inside; margin:0 0 .4em; }
/*- Post Blockquote -*/
.post blockquote { border-left:3px solid #cfcfcf; font-size:13px; font-style:italic; margin:0 0 1.5em; padding:5px 0 0 10px; }
/*- Post Author -*/
.post-author { margin:0 0 1em; }
.author-details { font-size:11px; }
.author-descr { display:table; height:1%; }
/*- Social Links -*/
.social-links { font: normal 12px Arial, Helvetica, sans-serif; padding:10px; margin:0 0 5px 0; color:#fff; background:#292929;}
.social-links a { color:#ed2b50; font-weight:bold; text-decoration:none; }
.social-links a:hover { text-decoration:underline; }
/* post-commets */
.post-commets { background:#ed2b50; padding:5px 10px; color:#fff; }
.post-commets a { font: normal 24px/27px Arial, Helvetica, sans-serif; color:#fff; text-decoration:none;}
.post-commets a.link { font: normal 12px/27px Arial, Helvetica, sans-serif;}
/*- Related Posts -*/
/*- Post Date -*/
.post-date { font: bold 14px Arial, Helvetica, sans-serif; padding:10px; margin:0 0 5px 0; color:#fff; background:#292929;}
.post-date a { color:#ed2b50; font-weight:bold; text-decoration:none; float:right; }
.post-date a:hover { text-decoration:underline; }
/*- Post Comments -*/
.post-comments h2 { padding-top:10px; }
.post-comments .fl { width:80px; }
.post-comments .fr { width:500px; }
/*- Widget Title - */
.wtitle { padding:5px; margin:0 0 5px 0; }
.wtitle h2 { margin:0; padding:0; font:normal 24px Arial, Helvetica, sans-serif; color:#2c2c2c;}
/*=== Styling Boxes ===*/
/*- Box1 -*/
.box { margin:0 0 15px 0; padding:0; }
.box .content { height:1%; padding:0; }
/*- Box2 -*/
.box2 { background:#f9f9f9; border:1px solid #cfcfcf; height:1%; margin:0 0 20px; padding:15px; min-height:115px; width:470px; }
.box2.alt { background:#FFFFFF; }
.comm-name, .comm-date { line-height:20px; }
/*=== Styling Lists ===*/
/*- List1 -*/
.list1 li { background:url(/assets/store/ico-list1.gif) no-repeat 0 1.1em; border-bottom:1px solid #e7e7e7; height:1%; padding:.7em 0 .7em 13px; }
.list1 li.last { border:0; }
#rightcol .list1 li a:hover { color:#33707e; }
/*=== Styling Forms ===*/
input.btn { background:none; border:0; margin:0; padding:0; }
select { padding:1px; }
/*- Message -*/
.message div { margin:0 0 18px; }
.message input { padding:9px 15px; width:470px; }
.message textarea { height:114px; overflow:auto; padding:9px 15px; width:470px; font-family:Verdana; }
.message .submit { float:left; }
.message .btn { padding:0; width:128px; height:32px; background:url(/assets/store/button.gif); }
.message .notice { color:#a4a4a4; float:right; font-style:italic; padding:10px 0 0; }
/*=== Pics, Thumbs, Ads etc. ===*/
.pic img { display:block; margin:0 0 10px 0; padding:0;}
.pic.fl img { margin:5px 15px 0 0; }
.pic.fr img { }
.th { display:block; margin:0 0 .5em; }
.th.fl img { margin-right:10px; max-width:40px; }
.ads img, .widget_flickrRSS img { margin:5px 1px; }
.widget_flickrRSS img { border:1px solid #cfcfcf; }
.box .ac img { border:0; margin:0; }
/*=== Footer ===*/
#page_bottom { background:#0d0d0d; }
#footer { color:#fff; text-decoration:none; font:normal 13px Arial, Helvetica, sans-serif; margin:0 auto; padding:0; }
#footer img { float:left; margin:0; padding:0;}
#footer a { color:#fff; font-weight:bold; }
#footer span { color:#fff; }
#footer .text2 { padding:20px 0 0 0; float:right; }
/*=== Misc. ===*/
.fix { clear:both; height:1px; margin:-1px 0 0; overflow:hidden; }
.hl, .hl2 { background:url(/assets/store/hl-dot.gif) repeat-x top; clear:both; height:2px; overflow:hidden; width:100%; }
.hl2 { background:none; border-top:1px solid #e7e7e7; height:1px; margin:0 0 .8em; }
.fl { float:left; }
.fr { float:right; }
.ar { text-align:right; }
.noBorder { border:0; }
.font-sm { font-weight:normal; }
.white { color:#FFF; }


.header_h3 { padding:20px 0 40px 0;;}
.caixa { padding: 5px; width:150px; height:200px; float:left; }
.cart_content {
	padding: 5px;
	height:300px;
	width:900px;

}

.cart_totals {
	float:right;
	width:250px;

}

.cart_description {
	width:600px;
	float:left;

}

#carrinho {
  float:right;
}

#taxonomies h3 {
    width:180px;
}